<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <h1>
        <%= spot.name %> 
    </h1>

    <p><img src="<%= spot.image %>"></p>
    
    
    <ul>
        <li><%= spot.coordinates %> </li>
        <li><%= spot.description %> </li>
        <li><%= spot.idealConditions %> </li>
        <li><%= spot.quiverSelection %> </li>
        <li><%= spot._id %> </li>
        <li>
            <a href="<%=spot.checkTheCam%>">
            Check the Cam
            </a>
        </li>
        <li>
            <a href="/surfspots/<%= spot.id %>/edit ">Update Spot</a>
        </li>
        <li>
            <a href="/surfspots/<%spot.id%>">
            <form action="/surfspots/<%=spot.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE THIS SPOT">
            </form>
        </a>
        </li>



    </ul>
</body>
</html>